// This is added before all the MessageTable
// You'll want to define your constants here, just in case.

#define LANG_ENGLISH 0x09
#define LANG_FRENCH  0x0C
#define SUBLANG_NEUTRAL 0x00

LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
  1000, "PEArch.exe [/?] [/E|/AsError] [/H|/AsHex] [/F|/FullText] <Fichier>\n\nOptions:\n  /?             Affiche ce texte d'aide.\n  /E, /AsError   Retourne le code de l'architecture comme code d'erreur.\n  /H, /AsHex     Affiche le code de l'architecture en héxadécimal.\n  /F, /FullText  Affiche une description plus longue sur l'architecture."
  1001, "\nCodes d'erreur:\n  Informations:\n   * 0  - Pas d'erreur\n  Erreurs fatales: (1-9)\n   * 1  - Ouverture du terminal impossible\n   * 2  - Erreur inconnue\n  Erreurs d'E/S : (10-19)\n   * 12 - Impossible d'ouvrir le fichier\n   * 13 - Impossible de créer un mappage de fichier\n   * 14 - Impossible de mapper le fichier en mémoire\n   * 15 - Impossible de récupérer les en-têtes NT\n   * 16 - Impossible d'allouer de la mémoire\n  Erreurs d'arguments de lancement : (20-21)\n   * 20 - Argument inconnu\n   * 21 - Argument de fichier manquant\n   * 22 - Trop d'arguments de fichier\n  Erreurs d'application : (30-39)\n   * 30 - L'architecture est inconnue, '/AsHex' contournera cette erreur"
  1002, "\nArchitectures:"
  2000, "\nAppuyez sur une touche pour continuer..."
  4001, "Le contenu de ce champ est supposé pouvoir s'appliquer à n'importe quel type d'ordinateur"
  4003, "Alpha AXP, espace d'adressage 32 bits"
  4005, "Alpha 64, espace d'adressage 64 bits"
  4007, "Matsushita AM33"
  4009, "X64"
  4011, "ARM little endian"
  4013, "ARM64 little endian"
  4015, "ABI qui permet l'interopérabilité entre le code ARM64 natif et le code x64 émulé."
  4017, "Format binaire qui permet à la fois au code ARM64 et ARM64EC natif de coexister dans le même fichier."
  4019, "ARM Pouce-2 petit endian"
  4121, "AXP 64 (identique à Alpha 64)"
  4123, "Code d'octet EFI"
  4125, "Processeurs Intel 386 ou ultérieurs et processeurs compatibles"
  4127, "Famille de processeurs Intel Itanium"
  4129, "Famille de processeurs LoongArch 32 bits"
  4131, "Famille de processeurs LoongArch 64 bits"
  4133, "Mitsubishi M32R petit endian"
  4135, "MIPS16"
  4137, "MIPS avec FPU"
  4139, "MIPS16 avec FPU"
  4241, "Power PC little endian"
  4243, "Power PC avec prise en charge de la virgule flottante"
  4245, "MIPS I compatible 32 bits big endian"
  4247, "MIPS I compatible 32 bits little endian"
  4249, "MIPS III compatible 64 bits petit endian"
  4251, "MIPS IV compatible 64 bits petit endian"
  4253, "Espace d'adressage RISC-V 32 bits"
  4255, "Espace d'adressage RISC-V 64 bits"
  4257, "Espace d'adressage RISC-V 128 bits"
  4259, "Hitachi SH3"
  4361, "Hitachi SH3 DSP"
  4363, "Hitachi SH4"
  4365, "Hitachi SH5"
  4367, "Pouce"
  4369, "MIPS little-endian WCE v2"
  4999, "Nouvelle architecture inconnue par PEArch"
  5000, "Option de lancement inconnue: '{0}'"
  5001, "Aucun fichier fourni !"
  5002, "Trop de fichiers fournis !"
  6000, "Impossible d'ouvrir le fichier donné !"
  6001, "Impossible de créer un mappage de fichier !"
  6002, "Impossible de mapper le fichier en mémoire !"
  6003, "Impossible de récupérer les en-têtes NT !"
  6004, "Impossible d'allouer de la mémoire !"
  6010, "Erreur inconnue lors du chargement du fichier !"
  6011, "Erreur inconnue lors de la récupération des headers NT !"
  4000, "UNKNOWN"
  4002, "ALPHA"
  4004, "ALPHA64"
  4006, "AM33"
  4008, "AMD64"
  4010, "ARM"
  4012, "ARM64"
  4014, "ARM64EC"
  4016, "ARM64X"
  4018, "ARMNT"
  4020, "AXP64"
  4021, "AXP 64 (Same As Alpha 64)"
  4022, "EBC"
  4023, "EFI byte code"
  4024, "I386"
  4025, "Intel 386 or later processors and compatible processors"
  4026, "IA64"
  4027, "Intel Itanium processor family"
  4028, "LOONGARCH32"
  4029, "LoongArch 32-bit processor family"
  4030, "LOONGARCH64"
  4031, "LoongArch 64-bit processor family"
  4032, "M32R"
  4033, "Mitsubishi M32R little endian"
  4034, "MIPS16"
  4035, "MIPS16"
  4036, "MIPSFPU"
  4037, "MIPS With FPU"
  4038, "MIPSFPU16"
  4039, "MIPS16 With FPU"
  4040, "POWERPC"
  4041, "Power PC little endian"
  4042, "POWERPCFP"
  4043, "Power PC With floating point support"
  4044, "R3000BE"
  4045, "MIPS I compatible 32-bit big endian"
  4046, "R3000"
  4047, "MIPS I compatible 32-bit little endian"
  4048, "R4000"
  4049, "MIPS III compatible 64-bit little endian"
  4050, "R10000"
  4051, "MIPS IV compatible 64-bit little endian"
  4052, "RISCV32"
  4053, "RISC-V 32-bit address space"
  4054, "RISCV64"
  4055, "RISC-V 64-bit address space"
  4056, "RISCV128"
  4057, "RISC-V 128-bit address space"
  4058, "SH3"
  4059, "Hitachi SH3"
  4060, "SH3DSP"
  4061, "Hitachi SH3 DSP"
  4062, "SH4"
  4063, "Hitachi SH4"
  4064, "SH5"
  4065, "Hitachi SH5"
  4066, "THUMB"
  4067, "Thumb"
  4068, "WCEMIPSV2"
  4069, "MIPS little-endian WCE v2"
  4998, "NEWUNKNOWN"
END

// This is added after all the MessageTable
